* {
  padding: 0;
  margin: 0; }

body, html {
  width: 100%;
  height: 100%;
  font-size: 14px; }

.clearfix:after {
  display: block;
  clear: both;
  content: ""; }

.head {
  width: 100%;
  background-color: #EEEEEE; }
  .head img {
    width: 100%; }

.daoH {
  background-color: #333333;
  width: 100%; }
  .daoH .daoHa {
    width: 1200px;
    margin: 0 auto; }
    .daoH .daoHa .ula {
      float: left;
      list-style: none; }
      .daoH .daoHa .ula li {
        padding: 10px 10px 10px 0px;
        float: left;
        color: #414141; }
        .daoH .daoHa .ula li a {
          text-decoration: none;
          color: #D9E7D3; }
    .daoH .daoHa .ulb {
      list-style: none;
      float: right; }
      .daoH .daoHa .ulb li {
        padding: 10px 2px;
        float: left;
        color: #414141; }
        .daoH .daoHa .ulb li a {
          text-decoration: none;
          color: #D9E7D3; }
      .daoH .daoHa .ulb li:nth-child(6) {
        padding: 10px;
        background-color: #424242; }

.mi {
  width: 100%; }
  .mi .xiaoM {
    width: 1200px;
    margin: 0 auto; }
    .mi .xiaoM .xmsj {
      padding: 20px 0px;
      background-color: #fff; }
      .mi .xiaoM .xmsj img:nth-child(1) {
        float: left; }
      .mi .xiaoM .xmsj img:nth-child(2) {
        padding: 0px 60px;
        float: left; }
      .mi .xiaoM .xmsj ul {
        list-style: none;
        float: left; }
        .mi .xiaoM .xmsj ul li {
          float: left;
          padding: 10px; }
          .mi .xiaoM .xmsj ul li a {
            text-decoration: none;
            color: #000000; }
            .mi .xiaoM .xmsj ul li a:hover {
              color: orangered; }
      .mi .xiaoM .xmsj .inp {
        border: 1px solid #E4E4E4;
        float: left;
        width: 230px;
        height: 40px;
        margin-left: 73px;
        text-align: center; }
        .mi .xiaoM .xmsj .inp span {
          background-color: #EEEEEE;
          color: #9294A0;
          font-size: 10px;
          line-height: 40px; }
      .mi .xiaoM .xmsj .sou {
        float: left;
        border: 1px solid #E4E4E4;
        width: 50px;
        height: 40px;
        text-align: center;
        line-height: 40px; }
    .mi .xiaoM .banner {
      position: relative; }
      .mi .xiaoM .banner .swiper-container {
        width: 100%; }
        .mi .xiaoM .banner .swiper-container .swiper-slide {
          background-color: paleturquoise;
          display: flex;
          justify-content: center;
          align-items: center; }
          .mi .xiaoM .banner .swiper-container .swiper-slide img {
            width: 1200px; }
        .mi .xiaoM .banner .swiper-container .swiper-button-prev {
          position: absolute;
          top: 230px;
          left: 230px; }
        .mi .xiaoM .banner .swiper-container .swiper-pagination {
          position: absolute;
          top: 420px;
          left: 420px; }
      .mi .xiaoM .banner .ceBian {
        width: 230px;
        height: 450px;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100; }
        .mi .xiaoM .banner .ceBian ul {
          list-style: none; }
          .mi .xiaoM .banner .ceBian ul li {
            padding: 14px 10px; }
            .mi .xiaoM .banner .ceBian ul li:hover {
              background-color: orangered; }
            .mi .xiaoM .banner .ceBian ul li p {
              float: left;
              color: #fff; }
            .mi .xiaoM .banner .ceBian ul li span {
              float: right;
              color: #fff; }
      .mi .xiaoM .banner .ban img {
        width: 100%; }
      .mi .xiaoM .banner .ban .left {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 250px;
        left: 260px; }
      .mi .xiaoM .banner .ban .right {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        position: absolute;
        top: 250px;
        right: 20px; }
      .mi .xiaoM .banner .ban .yuanD {
        position: absolute;
        top: 410px;
        right: 50px; }
        .mi .xiaoM .banner .ban .yuanD ul {
          list-style: none; }
          .mi .xiaoM .banner .ban .yuanD ul li {
            float: left;
            margin: 5px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: #000000; }
          .mi .xiaoM .banner .ban .yuanD ul li:nth-child(3) {
            background-color: #fff; }
    .mi .xiaoM .xuanG {
      margin: 10px 0px 30px 0px; }
      .mi .xiaoM .xuanG .yi {
        width: 293px;
        background-color: #5F5750;
        float: left; }
        .mi .xiaoM .xuanG .yi ul {
          list-style: none; }
          .mi .xiaoM .xuanG .yi ul li {
            padding: 17px;
            float: left;
            text-align: center; }
            .mi .xiaoM .xuanG .yi ul li p {
              color: #F4EADA; }
      .mi .xiaoM .xuanG img {
        width: 292px;
        float: left;
        margin-left: 10px; }
    .mi .xiaoM .danP .zi {
      width: 100%;
      padding: 0px 0px 10px 0px; }
      .mi .xiaoM .danP .zi h3 {
        float: left; }
      .mi .xiaoM .danP .zi .an {
        float: right; }
        .mi .xiaoM .danP .zi .an button {
          padding: 2px 5px; }
    .mi .xiaoM .danP .ula ul {
      float: left;
      list-style: none;
      background-color: #FAFAFA; }
      .mi .xiaoM .danP .ula ul:hover {
        transform: translateY(-3px);
        box-shadow: 0px 4px 10px #e2e2e2; }
      .mi .xiaoM .danP .ula ul li {
        text-align: center; }
        .mi .xiaoM .danP .ula ul li img {
          width: 224px; }
        .mi .xiaoM .danP .ula ul li span {
          color: darkgray;
          padding: 10px 0px; }
        .mi .xiaoM .danP .ula ul li a {
          text-decoration: none;
          color: #CE3F0C; }
    .mi .xiaoM .danP .ula ul:nth-child(1) {
      border-top: 2px solid #E1A33D;
      margin-right: 20px; }
    .mi .xiaoM .danP .ula ul:nth-child(2) {
      border-top: 2px solid #81B15A;
      margin-right: 20px; }
    .mi .xiaoM .danP .ula ul:nth-child(3) {
      border-top: 2px solid #3B7ABC;
      margin-right: 20px; }
    .mi .xiaoM .danP .ula ul:nth-child(4) {
      border-top: 2px solid #AC3D3D;
      margin-right: 20px; }
    .mi .xiaoM .danP .ula ul:nth-child(5) {
      border-top: 2px solid #3DAA96; }

.kuang {
  width: 100%;
  padding-bottom: 50px;
  background-color: #F5F5F5; }
  .kuang .kuangX {
    width: 1200px;
    margin: 0 auto;
    background-color: #F5F5F5; }
    .kuang .kuangX .jiaD .jdZi h3 {
      padding: 30px 0px 10px 0px;
      float: left; }
    .kuang .kuangX .jiaD .jdZi .rmz {
      float: right;
      padding: 30px 0px 10px 0px; }
      .kuang .kuangX .jiaD .jdZi .rmz ul {
        list-style: none; }
        .kuang .kuangX .jiaD .jdZi .rmz ul li {
          float: left;
          padding: 0px 5px; }
          .kuang .kuangX .jiaD .jdZi .rmz ul li a {
            text-decoration: none;
            color: #000000; }
            .kuang .kuangX .jiaD .jdZi .rmz ul li a:hover {
              color: orangered; }
    .kuang .kuangX .tuW .tuWz {
      float: left; }
      .kuang .kuangX .tuW .tuWz img {
        float: left;
        width: 222px;
        margin-right: 9px; }
    .kuang .kuangX .tuW .tu {
      width: 227px;
      float: left;
      margin-right: 9px; }
      .kuang .kuangX .tuW .tu img:nth-child(1) {
        margin-bottom: 5px;
        width: 227px; }
      .kuang .kuangX .tuW .tu img:nth-child(2) {
        margin-bottom: 9px;
        width: 227px; }
    .kuang .kuangX .tuW .tuWy ul {
      list-style: none; }
      .kuang .kuangX .tuW .tuWy ul li {
        float: left;
        text-align: center;
        background-color: #fff;
        padding: 17.5px;
        margin-bottom: 9px; }
        .kuang .kuangX .tuW .tuWy ul li:hover {
          transform: translateY(-3px);
          box-shadow: 0px 4px 10px #e2e2e2; }
        .kuang .kuangX .tuW .tuWy ul li img {
          width: 200px; }
        .kuang .kuangX .tuW .tuWy ul li p:nth-child(3) {
          color: darkgray; }
        .kuang .kuangX .tuW .tuWy ul li a {
          text-decoration: none;
          color: #CE3F0C; }
      .kuang .kuangX .tuW .tuWy ul li:nth-child(1) {
        position: relative; }
        .kuang .kuangX .tuW .tuWy ul li:nth-child(1) .xiang {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #E53935;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWy ul li:nth-child(5) {
        position: relative; }
        .kuang .kuangX .tuW .tuWy ul li:nth-child(5) .xin {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #83C44E;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWy ul .liy {
        margin-right: 9px; }
      .kuang .kuangX .tuW .tuWy ul .shuang {
        padding: 0;
        background-color: #F5F5F5; }
        .kuang .kuangX .tuW .tuWy ul .shuang .A {
          margin-bottom: 9px;
          background-color: #fff;
          padding: 20px 33px; }
          .kuang .kuangX .tuW .tuWy ul .shuang .A img {
            float: right;
            width: 100px; }
          .kuang .kuangX .tuW .tuWy ul .shuang .A div {
            float: right;
            padding: 20px 0px; }
        .kuang .kuangX .tuW .tuWy ul .shuang .B {
          background-color: #fff;
          padding: 23px; }
          .kuang .kuangX .tuW .tuWy ul .shuang .B img {
            float: right;
            width: 100px; }
          .kuang .kuangX .tuW .tuWy ul .shuang .B div {
            float: right;
            padding: 20px 0px; }
    .kuang .kuangX .tuW .tuWyB ul {
      list-style: none; }
      .kuang .kuangX .tuW .tuWyB ul li {
        float: left;
        text-align: center;
        background-color: #fff;
        padding: 45px 41.5px;
        margin-bottom: 10px; }
        .kuang .kuangX .tuW .tuWyB ul li:hover {
          transform: translateY(-3px);
          box-shadow: 0px 4px 10px #e2e2e2; }
        .kuang .kuangX .tuW .tuWyB ul li img {
          width: 150px; }
        .kuang .kuangX .tuW .tuWyB ul li p:nth-child(3) {
          color: darkgray; }
        .kuang .kuangX .tuW .tuWyB ul li a {
          text-decoration: none;
          color: #CE3F0C; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(3) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(3) .xin {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #83C44E;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) .xin {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #83C44E;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) .xiang {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #E53935;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(1) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(1) .xiang {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #E53935;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(2) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(2) .xiang {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #E53935;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(6) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(6) .xin {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #83C44E;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(7) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(7) .zeng {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #2196F3;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(2) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(2) .mian {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #FFAC13;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(4) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(4) .mian {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #FFAC13;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) {
        position: relative; }
        .kuang .kuangX .tuW .tuWyB ul li:nth-child(5) .mian {
          position: absolute;
          top: 0;
          left: 100px;
          background-color: #FFAC13;
          color: #fff;
          font-size: 12px;
          padding: 5px 7px; }
      .kuang .kuangX .tuW .tuWyB ul .liy {
        margin-right: 9px; }
      .kuang .kuangX .tuW .tuWyB ul .shuang {
        padding: 0;
        background-color: #F5F5F5; }
        .kuang .kuangX .tuW .tuWyB ul .shuang .A {
          margin-bottom: 9px;
          background-color: #fff;
          padding: 20px 33px; }
          .kuang .kuangX .tuW .tuWyB ul .shuang .A img {
            float: right;
            width: 100px; }
          .kuang .kuangX .tuW .tuWyB ul .shuang .A div {
            float: right;
            padding: 20px 0px; }
        .kuang .kuangX .tuW .tuWyB ul .shuang .B {
          background-color: #fff;
          padding: 23px; }
          .kuang .kuangX .tuW .tuWyB ul .shuang .B img {
            float: right;
            width: 100px; }
          .kuang .kuangX .tuW .tuWyB ul .shuang .B div {
            float: right;
            padding: 20px 0px; }
    .kuang .kuangX .weiN .zi {
      width: 100%;
      padding: 0px 0px 10px 0px; }
      .kuang .kuangX .weiN .zi h3 {
        float: left; }
      .kuang .kuangX .weiN .zi .an {
        float: right; }
        .kuang .kuangX .weiN .zi .an button {
          padding: 2px 5px; }
    .kuang .kuangX .weiN .wntj ul {
      list-style: none; }
      .kuang .kuangX .weiN .wntj ul li {
        float: left;
        width: 200px;
        padding: 16px;
        background-color: #fff;
        text-align: center; }
        .kuang .kuangX .weiN .wntj ul li:hover {
          transform: translateY(-3px);
          box-shadow: 0px 4px 10px #e2e2e2; }
        .kuang .kuangX .weiN .wntj ul li p {
          padding: 10px; }
        .kuang .kuangX .weiN .wntj ul li span {
          color: #D77129; }
      .kuang .kuangX .weiN .wntj ul .right-a {
        margin-right: 10px; }
    .kuang .kuangX .reP h3 {
      padding: 20px 0px 10px 0px; }
    .kuang .kuangX .reP ul {
      list-style: none; }
      .kuang .kuangX .reP ul li {
        float: left;
        width: 289px;
        background-color: #fff; }
        .kuang .kuangX .reP ul li:hover {
          transform: translateY(-3px);
          box-shadow: 0px 10px 15px #e2e2e2; }
        .kuang .kuangX .reP ul li img {
          width: 289px; }
        .kuang .kuangX .reP ul li .wenZ {
          padding: 20px; }
          .kuang .kuangX .reP ul li .wenZ p {
            padding: 5px 0px; }
          .kuang .kuangX .reP ul li .wenZ span {
            color: darkgray;
            display: block;
            padding: 15px 0px 10px 0px; }
        .kuang .kuangX .reP ul li .jia p:nth-child(1) {
          float: left;
          padding: 0px 3px;
          border-right: 1px solid darkgray; }
        .kuang .kuangX .reP ul li .jia p:nth-child(2) {
          padding: 0px 3px;
          color: #D25830; }
    .kuang .kuangX .reP .youB {
      margin-right: 14px; }
    .kuang .kuangX .content h3 {
      padding: 20px 0px 10px 0px; }
    .kuang .kuangX .content .tuS .uly {
      margin-right: 14px; }
    .kuang .kuangX .content .tuS ul:nth-child(1) {
      border-top: 2px solid #DF9918; }
    .kuang .kuangX .content .tuS ul:nth-child(2) {
      border-top: 2px solid #72A845; }
    .kuang .kuangX .content .tuS ul:nth-child(3) {
      border-top: 2px solid #72A845; }
    .kuang .kuangX .content .tuS ul:nth-child(4) {
      border-top: 2px solid #0D6FBD; }
    .kuang .kuangX .content .tuS ul {
      padding: 30px 10px;
      list-style: none;
      float: left;
      text-align: center;
      background-color: #fff; }
      .kuang .kuangX .content .tuS ul li {
        width: 269px; }
      .kuang .kuangX .content .tuS ul li:nth-child(1) {
        font-weight: bold;
        color: #E89601; }
      .kuang .kuangX .content .tuS ul li:nth-child(2) {
        font-size: 17px;
        font-weight: bold; }
      .kuang .kuangX .content .tuS ul li:nth-child(3) {
        width: 250px;
        margin: 0 auto;
        color: darkgray; }
      .kuang .kuangX .content .tuS ul li:nth-child(6) div {
        float: left;
        width: 3px;
        height: 3px;
        background-color: darkgray;
        border-radius: 50%;
        margin: 0px 5px; }
      .kuang .kuangX .content .tuS ul li:nth-child(6) div:nth-child(1) {
        border: 1px solid orangered;
        margin-left: 120px; }
    .kuang .kuangX .shiP .zi {
      padding: 30px 0px; }
      .kuang .kuangX .shiP .zi h3 {
        float: left; }
      .kuang .kuangX .shiP .zi p {
        float: right; }
    .kuang .kuangX .shiP ul {
      list-style: none; }
      .kuang .kuangX .shiP ul .you {
        margin-right: 14px; }
      .kuang .kuangX .shiP ul li {
        position: relative;
        background-color: #fff;
        float: left;
        width: 289px; }
        .kuang .kuangX .shiP ul li img {
          width: 289px; }
        .kuang .kuangX .shiP ul li .z {
          padding: 20px;
          text-align: center; }
          .kuang .kuangX .shiP ul li .z span {
            padding: 10px;
            color: darkgray;
            display: block; }
        .kuang .kuangX .shiP ul li .dimg {
          width: 40px;
          position: absolute;
          top: 140px;
          left: 20px; }

.k {
  width: 100%; }
  .k .foot {
    width: 1200px;
    margin: 0 auto; }
    .k .foot .yu ul {
      list-style: none;
      padding: 30px;
      border-bottom: 1px solid darkgray; }
      .k .foot .yu ul li {
        float: left;
        padding: 0px 69px; }
      .k .foot .yu ul .lia {
        border-right: 1px solid darkgray; }
    .k .foot .footz {
      margin-top: 30px; }
      .k .foot .footz ul {
        list-style: none;
        float: left;
        margin-right: 100px; }
        .k .foot .footz ul li {
          padding: 5px 0px;
          font-size: 12px;
          color: #707072; }
        .k .foot .footz ul li:nth-child(1) {
          padding: 10px 0px;
          font-size: 14px;
          color: #000000; }
      .k .foot .footz .ula {
        border-right: 1px solid darkgray;
        padding-right: 87px;
        margin: 0; }
      .k .foot .footz .ulb {
        float: left;
        padding: 0px 40px;
        margin: 0 !important;
        text-align: center; }
        .k .foot .footz .ulb li:nth-child(1) {
          color: orangered; }
        .k .foot .footz .ulb li:nth-child(2) p {
          padding: 0; }
        .k .foot .footz .ulb li:nth-child(4) button {
          border: 1px solid orangered;
          padding: 2px;
          background-color: #fff;
          color: orangered; }

.mim {
  width: 100%; }
  .mim .xiami {
    text-align: center; }
  .mim .mia {
    width: 1200px;
    margin: 30px auto; }
    .mim .mia img {
      float: left;
      width: 50px; }
    .mim .mia ul {
      list-style: none;
      float: left; }
      .mim .mia ul .lies {
        color: #9999A6; }
    .mim .mia .ulb {
      float: left; }
      .mim .mia .ulb li {
        float: left;
        padding: 10px; }
        .mim .mia .ulb li img {
          width: 66px; }

#zhua {
  position: relative; }
  #zhua .fix {
    width: 1200px;
    display: none;
    background-color: #fff;
    text-align: center;
    position: absolute;
    top: 62px;
    left: -183px;
    z-index: 99999; }
    #zhua .fix ul {
      list-style: none;
      display: flex;
      flex-direction: column; }

.An .lia {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Bn .lib {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Cn .lic {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Dn .lid {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.En .lie {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Fn .lif {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Gn .lig {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Hn .lih {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.In .lii {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

.Jn .lij {
  width: 970px;
  display: none;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 230px;
  z-index: 99999; }

/*# sourceMappingURL=mi.css.map */
